html, body, #root {
  height: 100%;
  margin: 0;
}
.unit-marker {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #000;
  border: 2px solid rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(175, 172, 172);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  z-index: 10;
}